@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

$dark-blue: hsl(240, 38%, 20%);
$grayish-blue: hsl(240, 18%, 77%);

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  max-width: 144.4rem;
}

body {
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
}

.quotes {
  position: relative;
  bottom: 5.5rem;
  left: 8.5rem;
  width: 9.5rem;
}

.curve {
  position: fixed;
  left: 0;
  bottom: 0;
}

.pattern {
  position: relative;
  width: 57rem;
  z-index: 0;
  bottom: 4.5rem;
  right: 4.5rem;
}

.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 5.7rem;
  bottom: 11rem;
  background-color: white;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.226);
  border-radius: 2rem;
  width: 9rem;
  height: 4rem;
  z-index: 2;

  &-prev {
    width: 0.8rem;
    height: 1.3rem;

    &-container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid transparent;
      border-radius: 2rem 0 0 2rem;

      &:hover {
        transition: 1s;
        border: 1px solid $grayish-blue;
      }
    }
  }

  &-next {
    width: 0.8rem;
    height: 1.3rem;

    &-container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid transparent;
      border-radius: 0 2rem 2rem 0;
      &:hover {
        transition: 1s;
        border: 1px solid $grayish-blue;
      }
    }
  }
}

.testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  &__left {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 52rem;
    left: 4.5rem;
  }

  &__right {
    width: 50rem;
  }

  &__text {
    position: relative;
    bottom: 8rem;
    left: 0.5rem;
    font-weight: 300;
    font-size: 2.5rem;
    z-index: 2;
    color: $dark-blue;
  }

  &__image {
    z-index: 1;
    position: absolute;
    width: 45rem;
    border-radius: 5px;
  }
}